<%- contentFor('body') %>

<h3><a href="/imagens">/imagens</a> / Adicionar Nova Imagem </h3>

<div class="row">
    <form method="POST" action="/salva_imagens" class="col-lg-10">
        <div class="form-group">
            <label for="marca">Marca</label>
            <select  name="produto" id="produto" class="form-control">
                <option value="0">Produto</option>
            </select>
        </div>
        <div style="border:dashed 1pt gray; height:15em;" 
        id="view-image" class="row">
           
        </div>
        <div class="form-group" style="margin-top:2em;">
            <button type="button" id="cancelar" 
            class="btn btn-raised btn-danger">Cancelar</button>

            <button type="submit" id="submit" 
            class="btn btn-raised btn-success">Salvar</button>
            

        </div>

    </form>
</div>
<script>

    const viewImage=document.getElementById('view-image');
    for(let i=1;i<6; i++){
       
       const div=document.createElement('div');
       const file=document.createElement('input');
       const img=document.createElement('img');
       const label=document.createElement('label')
        file.name=`file${i}`;
        file.id=`file${i}`;
       file.type='file';
       file.classList.add('btn', 'btn-outline-primary')
      
       file.style='height:2em;width:3em;display:inline-block;opacity:0';
        div.style='border: dashed 1pt gray;height:12em;width:auto; margin-left:1em;margin-right:1em; margin-top:1em;'
        div.classList.add('col-sm')
        label.innerHTML=`<i class="material-icons">backup</i>`;
        
        label.appendChild(file);
       
       div.appendChild(label);
       div.appendChild(img);
       viewImage.appendChild(div)
       file.addEventListener('change',()=>{
           let url=window.URL.createObjectURL(file.files[0]);
           img.src=url;
           img.style='height:6em;width:auto;padding:5px;'
       })
       
               
    }





</script>