<%- contentFor('body') %>

<h3><a href="/">Administrador</a> / Produtos</h3>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Marca</th>
                <th>Preço</th>
                <th>Imagem Principal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>kfasd</td>
                <td>kfasd</td>
                <td>kfasd</td>
                <td>kfasd</td>
                <td>kfasd</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="fixed-bottom">
    <div class="float-right">
        <button class="btn btn-info bmd-btn-fab"
        id="add">
            <i class="material-icons">add</i>
         </button>
    </div>
</div>
<script>
    const add=document.getElementById('add');
    add.addEventListener('click',()=>{
        window.location.href='/add_produtos';
    })

</script>